ul.user-actions{
  float: right;
  margin-top: 2em;
}
li{
  list-style: none;
  display: inline;
  margin-right: .5em;
  padding: 1em;
}
li a{
  text-decoration: solid;
}
.question{
  background-color: rgb(231, 227, 227);
  padding: .3em;
  margin: .4em;
  border-radius: 5px;
}
.location{
  font-size: small;
  float: right;
  margin-right: 1em;
}
.question h5{
  font-weight: 700;
  margin: 1em;
}
.question-text{
  padding: .5em;
  margin: .3em;
  border-radius: 3px;
  background-color: #ebe8e8;
  border: 1px solid rgb(196, 194, 194) !important;
}
.qActions{
  margin-top: 1em;
}
.action
{
  cursor: pointer !important;
}
#question-dialog{
  position: fixed !important;
  justify-content: center;

  margin: auto !important;
  padding: 0;

  width: 50%;
  height: 50%;

  display: none !important;
  border-radius: 30px;
  color: white;
  z-index: 11;
  background: #6f42c1;
}
.answer-dialog *{
  margin: 2em;
}

