<script async
    src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places&callback=initMap">
</script>
<script>
  alert('hello');
  let autocomplete
  function initAutocomplete(){
    autocomplete = new google.maps.places.Autocomplete(document.getElementById('location'), {
      types:['establishment'],
      fields:['place_id','geometry','name']
    })
  }
</script>
<div class="container">
  <ul class="user-actions">
    <li><button class="btn btn-outline-danger" href="" (click)="favorites()"><i class="bi bi-heart-fill"></i> favorites</button></li>
    <li><button class="btn btn-outline-dark" href="" (click)="signOut()"><i class="bi bi-power"></i> sign out</button></li>
  </ul>
  <form (ngSubmit)="postQuestion()">
    <h3>Ask your question</h3>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" placeholder="topic of your question" required [(ngModel)]="question.title">
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Content</label>
      <textarea type="text" class="form-control" id="content" name="content" placeholder="content of the question" required [(ngModel)]="question.content"></textarea>
    </div>
    <div class="mb-3">
      <label for="exampleFormControlInput1" class="form-label">Location</label>
      <input type="text" class="form-control" id="pac-input" name="location" placeholder="type you location" required  [(ngModel)]="question.location">
    </div>
    <hr>
    <button class="btn btn-outline-success" >post <i class="bi bi-chat-text"></i></button>
  </form>

  <br>
  <hr>
  <br>
  <div id="answer-dialog" class="dialog">
    <h1>answer a question</h1>
  </div>
  <div id="question-dialog" class="dialog">
    <h1>answer a question</h1>
  </div>

  <h3 *ngIf="this.questions.length>0" >There is {{questions.length}} question(s)</h3>
  <br>
  <div class="question" *ngFor="let q of this.favoriteQuestions">
    <h5>{{q.title}}</h5>
    <p class="question-text">{{q.content}}</p>
    <p class="location"><i class="bi bi-geo-alt"></i> {{q.location}}</p>
    <ul class="qActions">
      <li><a id="{{q._id.$oid}}" (click)="likeToggle($event,q._id.$oid)" class="action"  title="like this question">
        <i
        [ngClass]="{
          'bi bi-heart-fill': currentUser?.favorites?.includes(q._id.$oid),
          'bi bi-heart': !currentUser?.favorites?.includes(q._id.$oid)
        }"
        ></i></a></li>
      <li><a id="{{q._id.$oid}}" (click)="showQuestion(q._id.$oid)" class="action" title="show question"><i class="bi bi-chat-text"></i> {{q.answers.length}}</a></li>
      <li><a id="{{q._id.$oid}}" (click)="openPostAnswer(q._id.$oid)" class="action" title="post an answer"><i class="bi bi-send"></i></a></li>
    </ul>
  </div>

</div>
